@font-face {
    font-family: alock;
    src: url(../font/66de30cc396af3b5cc39c4b6_Aeonik-Medium.woff2);
}
@font-face {
    font-family: pp;
    src: url(../font/66de30cc730b040270305ffa_PPFragment-SerifRegular.ttf);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-weight: 400;
    font-family: alock;
}
html,
body{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
.main{
    width: 100%;
}
.page1{
    min-height: 200vh;
    width: 100%; 
}
.nav{ 
    width: 100%;
    height: 10vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2vw;
    text-transform: uppercase;
    font-size: 1.2vw;
    border-bottom: 1px solid silver;
}
 .nav .nav-part1{
    display: flex;
    gap: 1vw;
}
.nav-part1 h3{
    cursor: pointer;
}
.page1-part1{
    width: 100%;
    height: 80vh;
    padding-inline: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.part11{
    width:25%;
    height: 70vh;
    /* padding: 1vw; */
    /* background-color: blue; */
}
.part11 img{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    object-fit: fill;
    background-position: center;
    background-size: cover;
}
.part12{
    width: 73%;
    height: 70vh;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
}
.part12 h3{
    font-size: 2vw;
    font-family: pp;
    text-transform: uppercase;
}
.part12 p{
    margin-bottom: 3vh;
    border-bottom: 1px solid silver;
}
.page1-part2{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 1vw;
    padding-inline: 2vw; 
}
 
.page1-part2 h1{
    font-family: pp;
    font-size: 3vw;
    text-transform: capitalize;
}
.part2{
    display: flex;
    width: 100%;
    height: 95%;
}
.box{
    width: 150%; 
    display: flex;
    flex-direction: column;
    height: 50vh; 
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}
.box2{ 
    clip-path: circle();
    width: 100%;
    height: 25vh; 
}
.box2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.box h3{
    margin-top: 5vh;
    font-size: 1.5vw;
}
.page1-part3{
    padding-inline: 2vw;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}
.page1-part3 h1{
    font-family: pp;
    text-transform: uppercase;
}
.part3{
    text-align: center;
    font-size: 1.5vw;
    line-height: 2vw;
}
.part3 p{
    margin-top: 5vh;
}