
    body{
      /* background-image: url("animal_movie_jpg.jpg"); */
      background-repeat: no-repeat;  
      background-size: cover;
      /* background-color: linear-gradient(rgba(0,0,0,0.9)); */
      background-color: #000A30;
      /* animation: change 23s infinite; */
    } 

    @keyframes change{
      25%{
            background-image: url("animal_movie_jpg.jpg");
            background-repeat: no-repeat;  
            background-size: cover;
            background-color: linear-gradient(rgba(0,0,0,0.9));
      }

      50%{
        background-image: url("sam\ bahadur\ 1.jpg");
            background-repeat: no-repeat;  
            background-size: cover;
            background-color: linear-gradient(rgba(0,0,0,0.9));
      }

      75%{
        background-image: url("leo3.jpg");
            background-repeat: no-repeat;  
            background-size: cover;
            background-color: linear-gradient(rgba(0,0,0,0.9));
      }
      100%{
        background-image: url("oppenheimer.jpg");
            background-repeat: no-repeat;  
            background-size: cover;
            background-color: linear-gradient(rgba(0,0,0,0.9));
      }
    }

    .btn{
      width: 140px;
      height: 42px;
      margin-left: 15px;
      margin-top: 15px;
      background-color: #FF595A;
      color: white;
      font-weight: bold;
      border: 2px solid white;
      border-radius: 12px;
      
    }

    .btn a{
      text-decoration: none;
      color: white;
    }

    .btn :hover{
      color: orange;
    }

    

    .form{
      display: flex;
      justify-content: center;
      background-color: transparent;
    }

    .contener{
      width:380px;
      height:526px;
      background-color: #3edcf7;
      text-align: center;
      margin-top: 24px;
      margin-left: 120px;
      font-weight: bold;
      border-radius: 33px;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      background-color: transparent;
      margin-bottom: 30px;
    }
    .signup{
      padding-top: 17px;
      font-size:37px;
      color: white;
    }
    .first{
      font-size: 18px;
      margin-top: 23px;
      height:29px;
      border-radius:20px;
      padding-left: 30px;
    }
  
    .submit{
      font-size: 19px;
      height:50px;
      width: 130px;
      margin-top: 30px;
      padding: 12px;
      border-radius:17px;
      background-color: #FF595A;
      color: white;
      border: 2px solid white;
    }
    .submit:hover{
      background-color: white;
      color: black;
    }
    u{
      color: blue;
      margin-top: 45px;
    }

    h3{
      color: white;
    }

    .a{
      text-decoration: none;
      color: rgb(172, 255, 17);
    }

    .a:hover{
      color: orange;
    }
    
    .icon{
      font-size: 27px;
    }
  
    @media screen and(max-width:800px)
    {

      .btn{
      width: 125px;
      height: 37px;
      border-radius: 10px;
      
      }

      .contener{
       width:340px;
       height:490px;
       border-radius: 29px;
      }

    }

    @media screen and(max-width:600px)
    {
      .btn{
      width: 100px;
      height: 37px;
      border-radius: 10px;
      }
       
      .contener{
       width:340px;
       height:490px;
       border-radius: 29px;
       margin-left: 50px;
      }
  }

  @media screen and(max-width:450px)
    {
      .btn{
      width: 76px;
      height: 37px;
      border-radius: 8px;
      }
       
      .contener{
       width:327px;
       height:450px;
       border-radius: 29px;
       margin-left: 30px;
      }
  }

  @media screen and(max-width:350px){
    .contener{
       width:299px;
       height:270px;
       border-radius: 23px;
       margin-left: 4px;
      }
    
      .signup{
      padding-top: 12px;
      font-size:18px;
    }
    
    .first{
      font-size: 18px;
      margin-top: 23px;
      height:29px;
      border-radius:20px;
      padding-left: 30px;
      width: 110px;
    }
  
    .submit{
      font-size: 17px;
      height:48px;
      width: 90px;
      border-radius:10px;
    }

    .icon{
      font-size: 23px;
    }

    .form{
      float: left;
      margin-left: 9px;
    }

    button .btn{
      width: 20px;
      height: 10px;
    }
  }

  @media screen and (max-width:390px)
  {
    .icon{
       font-size: 17px;
    }

    .first{
      width: 120px;
      height: 19px;
      font-size: 15px;
    }

    .signup{
      font-size: 28px;
    }

    .btn{
      width: 90px;
      height: 34px;
      margin-top: 7px;
      margin-left: 7px;
    }

    .contener{
      margin-top: 13px;
      margin-left: 17px;
      width: 260px;
      height: 435px;
    }    
    
    .submit{
      font-size: 15px;
      font-weight: bold;
      width: 110px;
      height: 43px;
     
    }
    h3{
      font-size: 17px;
    }

     

  }

  